# export GEMINI_API_KEY="<YOUR_GEMINI_API_KEY>"
# export GOOGLE_GENAI_USE_VERTEXAI=FALSE
GEMINI_MODEL_NAME="gemini-3.1-flash-lite-preview"
GOOGLE_CLOUD_PROJECT="YOUR_PROJECT_ID"
GOOGLE_CLOUD_LOCATION="global" # e.g., us-central1
GOOGLE_GENAI_USE_VERTEXAI=TRUE

# SMTP Settings (MailHog)
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="no-reply@test.local"
# MAILHOG_WEB_UI="http://localhost:8025"

ADMIN_EMAIL="admin@test.local"

